build/QBaseFramework/QBaseFramework.xcodeproj/project.xcworkspace/xcuserdata/sang.xcuserdatad/
build/QBaseFramework/QBaseFramework.xcodeproj/xcodeprojxcuserdata/sang.xcuserdatad/
**/**/.DS_Store
build/QBaseFramework/QBaseFramework.xcodeproj/xcuserdata/sang.xcuserdatad/
build/QBaseFramework/QBaseFramework.xcodeproj/project.xcworkspace/xcuserdata/andy.xcuserdatad/
build/QBaseFramework/QBaseFramework.xcodeproj/xcuserdata/andy.xcuserdatad/
